body, input {
    font-family: "Helvetica Neue",helvetica,sans-serif;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4 {
    font-family: "Helvetica Neue",helvetica,sans-serif;
    line-height: normal;
    font-weight: bold;
}

.md-header, .md-tabs {
  background-color: #27282c
}

button.dl {
  font-weight: 300;
  font-size: 25px;
  line-height: 40px;
  padding: 3px 10px;
  display: inline-block;
  border-radius: 6px;
  color: #f0f0f0;
  margin: 5px 0;
  width: auto;
}

.logo {
  text-align: center;
  margin-top: 150px;
}
